{% load static %}
<!DOCTYPE html>
<html lang='en' prefix='og: http://ogp.me/ns#' xmlns='http://www.w3.org/1999/xhtml'>

<head itemscope itemtype='http://schema.org/WebSite'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token"
    content="p7aB+emgdc8/v1w+E/5lhHOBDCBL+jTpzbEaI4I4joeU0482fMjZecoMwziS3IrzCdBcRrK8MT+10XO4Ssi1mQ==" />
    <meta content='width=device-width, initial-scale=1' name='viewport'>
        <meta content='Search for  luxury real estate homes for sale and real estate information at Larkspur homes LLC.'
        name='description'>
        <meta content='luxury real estate homes for sale, luxury real estate properties, real estate' name='keywords'>
        <meta content='https://res.cloudinary.com/pxd-production/image/upload/v1616022937/ulfrj4tqdfhrghnqjoue.png'
        property='og:image'>
        <title itemprop='name'> Larkspur homes LLC</title>
        
        <link rel="stylesheet" media="all" href="{% static 'css/style.css' %}" data-turbolinks-track="true" />
    <link rel="stylesheet" href="{% static 'css/subStyle.css' %}">
    <link rel="shortcut icon" href="{% static 'images/upload/larkspur.jpeg' %}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script async src="//jsfiddle.net/aj7Lk2bw/19/"></script>

    <!-- <script async='' src='https://cdn.iubenda.com/cons/iubenda_cons.js' type='text/javascript'></script>
    <script src='//cdn.iubenda.com/cs/ccpa/stub.js' type='text/javascript'></script>
    <script async='' charset='UTF-8' src='//cdn.iubenda.com/cs/iubenda_cs.js' type='text/javascript'></script> -->

</head>

<body class='stretched no-transition' data-lang='en'>

    <!-- #header -->
    <!-- #primary-menu -->
    <header class='header-top-message white' data-sticky-class='white' data-sticky-offset='0' id='header'>

        <div class="mgm" style="display: none;">
            <div class="txt" style="color:black;">Someone from <b></b> just bought <a href="javascript:void(0);"
                    onclick="javascript:void(0);"></a></div>
        </div>

        <div id='header-wrap' style='border-bottom-color: #eb0a0a;'>


            <div class='container clearfix primary-menu'>
                <div id='logo'>
                    <a class="standard-logo" href="{% url 'core:home' %}">
                        Larkspur homes LLC

                    </a>

                </div>
                <nav class='menu-ev' id='primary-menu'>
                    <!-- #main-menu -->
                    <ul class='en' id='main-menu'>
                        <li></li>
                        <li class=''>
                            <a href="{% url 'core:properties' %}">Property Listings</a>
                        </li>
                        <li class=''>
                            <a href="{% url 'core:private_listings' %}">Private listings</a>
                        </li>
                        <li class=''>
                            <a href="{% url 'core:advisors' %}">Advisors</a>
                        </li>
                        <li class='menu-last'>
                            <a href="{% url 'core:services' %}">Services</a>
                        </li>
                    </ul>
                    <!-- #top-menu -->
                    <ul class='en' id='top-menu' style='float:right;'>
                        <li><a target="_blank" href="{% url 'core:blog' %}">Blog</a></li>
                        <!-- <li><a href="/login">Login</a></li> -->
                        <li class='menu-icon space'>
                            <a data-target="#globalPreferences" data-toggle="modal"
                                aria-label="Open global preferences modal" href="#globalPreferences">
                                <div class='ev-icon-globe'></div>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div id='primary-menu-trigger'>
                    <i class='ev-icon-hamburger-menu'></i>
                </div>
            </div>
        </div>
    </header>
    <!-- #primary-menu end -->
    <style>
    </style>
        <!-- #primary-menu end -->
       

        <!-- #header end -->

        <div class='clearfix'></div>
        <!-- #content -->
        <section id='content'>
            <!-- <div id='search-bar-container'>
                <form class="simple_form nomargin main_searches_form" action="/properties-search" accept-charset="UTF-8"
                    method="get"><input name="utf8" type="hidden" value="&#x2713;" />
                    <div class="control-group hidden search_public_property_search">
                        <div class="controls"><input value="true" class="hidden" type="hidden"
                                name="search[public_property_search]" id="search_public_property_search" /></div>
                    </div>
                    <div class="control-group hidden search_act_as_private">
                        <div class="controls"><input value="true" class="hidden" type="hidden"
                                name="search[act_as_private]" id="search_act_as_private" /></div>
                    </div>
                    <div class="control-group hidden search_recommendations">
                        <div class="controls"><input value="false" class="hidden" type="hidden"
                                name="search[recommendations]" id="search_recommendations" /></div>
                    </div>
                    <div class="control-group hidden search_suggestion_type">
                        <div class="controls"><input id="properties-type-search" class="hidden" type="hidden"
                                name="search[suggestion_type]" /></div>
                    </div>
                    <div class='container clearfix main-search-rp' id='search-bar-wrapper'>
                        <div class='filters basic-filters'>
                            <div class='filter input location main-input' id='search-suggestions'>
                                <div class='hide suggestion-title-translations' data-mls='MLS &amp; E&amp;V ID'></div>
                                <div class="control-group string optional search_more_filters_location"><label
                                        class="string optional control-label filter-label main-label"
                                        for="js-property-search-map">Search properties by:</label>
                                    <div class="controls"><input data-behavior="autocomplete"
                                            id="js-property-search-map" no_suggestions="No suggestions to show"
                                            class="string optional js-specific-location-easycomplete no-autocomplete-search property-search-location js-property-location js-no-suggestions-msg"
                                            placeholder="Country, state, city" type="text"
                                            name="search[more_filters_location]" /></div>
                                </div>
                            </div>
                            <div class='action visible-sm visible-xs'>
                                <button name="button" type="submit"
                                    class="secondary-button action-button nomargin search-submit-small js-submit-search-property"><i
                                        class='icon-line-search'></i>
                                </button><button name="button" type="filters"
                                    class="secondary-button action-button nomargin js-filters-toggle filters-toggle"><i
                                        class='icon-list2'></i>
                                </button>
                            </div>
                            <div class='filters-px custom-hide-mobile js-filters'>
                                <div class='filter'>
                                    <div class='js-search-filter'>
                                        <div class="control-group select optional search_min_bedrooms"><label
                                                class="select optional control-label filter-label"
                                                for="search_min_bedrooms">Beds:</label>
                                            <div class="controls"><select class="select optional selectpicker"
                                                    title="All" data-width="100%" name="search[min_bedrooms]"
                                                    id="search_min_bedrooms">
                                                    <option value="">All</option>
                                                    <option value="1">Studio</option>
                                                    <option value="2">1</option>
                                                    <option value="3">2</option>
                                                    <option value="4">3</option>
                                                    <option value="5">4</option>
                                                    <option value="6">5</option>
                                                    <option value="7">6+</option>
                                                </select></div>
                                        </div>
                                    </div>
                                </div>
                                <div class='filter'>
                                    <div class='js-search-filter'>
                                        <div class="control-group select optional search_min_bathrooms"><label
                                                class="select optional control-label filter-label"
                                                for="search_min_bathrooms">Baths:</label>
                                            <div class="controls"><select class="select optional selectpicker"
                                                    title="All" data-width="100%" name="search[min_bathrooms]"
                                                    id="search_min_bathrooms">
                                                    <option value="">All</option>
                                                    <option value="0">0+</option>
                                                    <option value="1">1+</option>
                                                    <option value="2">2+</option>
                                                    <option value="3">3+</option>
                                                    <option value="4">4+</option>
                                                    <option value="5">5+</option>
                                                </select></div>
                                        </div>
                                    </div>
                                </div>
                                <div class='filter'>
                                    <div class='js-search-filter'>
                                        <div class="control-group select optional search_max_price"><label
                                                class="select optional control-label filter-label"
                                                for="search_max_price">Max price:</label>
                                            <div class="controls"><select class="select optional selectpicker"
                                                    data-width="100%" data-live-search="true" data-free-text="true"
                                                    data-select-on-tab="true" data-none-selected-text="All"
                                                    data-unit="$" data-format="%u %n" data-delimiter=","
                                                    data-live-search-placeholder="Max price" name="search[max_price]"
                                                    id="search_max_price">
                                                    <option value="">All</option>
                                                    <option value="500000">$ 500,000</option>
                                                    <option value="1000000">$ 1,000,000</option>
                                                    <option value="2000000">$ 2,000,000</option>
                                                    <option value="3000000">$ 3,000,000</option>
                                                    <option value="5000000">$ 5,000,000</option>
                                                    <option value="10000000">$ 10,000,000</option>
                                                    <option value="15000000">$ 15,000,000</option>
                                                    <option value="20000000">$ 20,000,000</option>
                                                </select></div>
                                        </div>
                                    </div>
                                </div>
                                <div class='filter property-categories'>
                                    <div class='js-search-filter'>
                                        <div class="control-group select optional search_type"><label
                                                class="select optional control-label filter-label"
                                                for="search_type">Property types:</label>
                                            <div class="controls"><select class="select optional selectpicker"
                                                    title="All" data-container="#search-bar" data-width="100%"
                                                    name="search[type]" id="search_type">
                                                    <option value="">All</option>
                                                    <option value="Property">Homes</option>
                                                    <option value="258">Ranch</option>
                                                    <option value="231">Equestrian</option>
                                                    <option value="217">New Build / New Construction</option>
                                                    <option value="216">Lots and Land</option>
                                                    <option value="248">Ski Property</option>
                                                    <option value="228">Metropolitan</option>
                                                    <option value="265">21st Century Architecture</option>
                                                    <option value="233">Seaside</option>
                                                    <option value="259">Vineyard</option>
                                                    <option value="232">Lakeside</option>
                                                    <option value="230">Golf</option>
                                                    <option value="234">Farm &amp; Agricultural</option>
                                                    <option value="262">Historic Estate</option>
                                                    <option value="229">Mountain</option>
                                                    <option value="263">Penthouse</option>
                                                </select></div>
                                        </div>
                                    </div>
                                </div>
                                <div class='filter more-filters custom-hide-mobile'>
                                    <a class="more-search-filters " href="#">+
                                        MORE FILTERS
                                    </a><a class="less-search-filters hide" href="#">-
                                        LESS FILTERS
                                    </a>
                                </div>
                                <div class='action'>
                                    <button name="button" type="submit"
                                        class="secondary-button action-button nomargin search-submit-small js-submit-search-property custom-hide-mobile"><i
                                            class='icon-line-search'></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class='advanced-filters custom-hide-mobile filters hide js-advanced-filters'>
                            <div class='js-search-filter'>
                                <div class="control-group hidden search_currency_type">
                                    <div class="controls"><input value="1" class="hidden" type="hidden"
                                            name="search[currency_type]" id="search_currency_type" /></div>
                                </div>
                            </div>
                            <div class='filter'>
                                <div class='js-search-filter'>
                                    <div class="control-group select optional search_min_measurement"><label
                                            class="select optional control-label filter-label"
                                            for="search_min_measurement">Min sq ft:</label>
                                        <div class="controls"><select class="select optional selectpicker" title="All"
                                                data-container="#search-bar" data-width="100%" data-live-search="true"
                                                data-free-text="true" data-select-on-tab="true"
                                                data-live-search-placeholder="Min sq ft" name="search[min_measurement]"
                                                id="search_min_measurement">
                                                <option value="">All</option>
                                                <option value="1000">1000</option>
                                                <option value="1500">1500</option>
                                                <option value="2000">2000</option>
                                                <option value="2500">2500</option>
                                                <option value="3000">3000</option>
                                                <option value="3500">3500</option>
                                                <option value="4000">4000</option>
                                                <option value="4500">4500</option>
                                                <option value="5000">5000</option>
                                                <option value="10000">10000+</option>
                                            </select></div>
                                    </div>
                                </div>
                            </div>
                            <div class='filter'>
                                <div class='js-search-filter'>
                                    <div class="control-group select optional search_max_measurement"><label
                                            class="select optional control-label filter-label"
                                            for="search_max_measurement">Max sq ft:</label>
                                        <div class="controls"><select class="select optional selectpicker" title="All"
                                                data-container="#search-bar" data-width="100%" data-live-search="true"
                                                data-free-text="true" data-select-on-tab="true"
                                                data-live-search-placeholder="Max sq ft" name="search[max_measurement]"
                                                id="search_max_measurement">
                                                <option value="">All</option>
                                                <option value="1000">1000</option>
                                                <option value="1500">1500</option>
                                                <option value="2000">2000</option>
                                                <option value="2500">2500</option>
                                                <option value="3000">3000</option>
                                                <option value="3500">3500</option>
                                                <option value="4000">4000</option>
                                                <option value="4500">4500</option>
                                                <option value="5000">5000</option>
                                                <option value="10000">10000+</option>
                                            </select></div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group hidden search_measurement_type">
                                <div class="controls"><input value="ft2" class="hidden" type="hidden"
                                        name="search[measurement_type]" id="search_measurement_type" /></div>
                            </div>
                            <div class="control-group hidden search_sort_type">
                                <div class="controls"><input class="hidden" type="hidden" name="search[sort_type]"
                                        id="search_sort_type" /></div>
                            </div>
                            <div class='action advanced-search-button submit hidden-xs hidden-sm'>
                                <button name="button" type="submit"
                                    class="button secondary-button action-button nomargin js-submit-search-property"><i
                                        class='icon-line-search'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div> -->
            <div class='clearfix'></div>
            <section class='section content nomargin nopadding clearfix fix-size' id='properties'>
                <div class='container clearfix results-container main-search-rp'>
                    <div ca-observable-container='' id='search-properties-result'>
                        <div aria-label='Breadcrumbs' class='search-breadcumbs med hidden-sm hidden-xs' role='region'>
                            <li class='contrast-gray'>
                                <a href="{% url 'core:home' %}">Home</a>
                                <span aria-hidden='true' class='icon-angle-right'></span>
                            </li>
                            <li class='contrast-gray'>
                                Search for {{request.GET.q}}
                            </li>
                        </div>
                        <div class='row d-flex align-items-center clearfix bottommargin-sm'>
                            <div class='col-xs-12 col-sm-6 col-md-9 tleft center-mobile'>
                                <p class='med total-find-text center-mobile contrast-gray criteria-results'>
                                    <!-- <b>558</b>  -->
                                </p>
                            </div>
                            <div class='col-xs-12 col-sm-6 col-md-3 tright center-mobile padding-sm'>
                                
                            </div>
                        </div>
                        <div class='row clearfix' id='search-results'>
                            {% for property in properties %}
                            <div ca-onload='trackPrintProperty' ca-prop-app='Showcase' ca-prop-area-unit='acre'
                                ca-prop-currency='USD' ca-prop-language='en' ca-prop-listing-address='95 Charles Street'
                                ca-prop-listing-city='New York' ca-prop-listing-country='US'
                                ca-prop-listing-cover-image-url="{% static 'images/upload/v1661430810/jdpao9qtnvur0qoybbs0.jpg' %}"
                                ca-prop-listing-customer-id='57' ca-prop-listing-customer='Engel &amp; Völkers'
                                ca-prop-listing-id='["pxs:457993"]' ca-prop-listing-logo-development-url=''
                                ca-prop-listing-mls-number='' ca-prop-listing-owner-id='57'
                                ca-prop-listing-owner='Engel &amp; Völkers' ca-prop-listing-postcode='10014'
                                ca-prop-listing-price-usd='13999500.0' ca-prop-listing-report-cover-url=''
                                ca-prop-listing-state='New York' ca-prop-listing-status='active'
                                ca-prop-listing-title="Elegant Townhouse in Manhattan's Historic West Village"
                                ca-prop-listing-types='["New Build / New Construction", "Metropolitan", "21st Century Architecture"]'
                                ca-prop-page-type='Luxury Search' ca-prop-print-position='8' ca-prop-print-type='Search'
                                ca-prop-search-criteria='[]' ca-prop-seller-email='paul.gavriani@engelvoelkers.com'
                                ca-prop-seller-id='["pxs:757850"]' ca-prop-seller-name='Paul Gavriani'
                                ca-prop-seller-status='Active' class='col-md-4 col-sm-6 col-xs-12 property-card'>
                                <a href="">
                                    <div aria-label='Property' class='wrap' role='region'>
                                        <div class='card_img'><img class="main-photo" alt=""
                                                src="{{ property.photo_main.url }}" />
                                        </div>
                                        {% if property.reserved == True %}
                                        <div class='property-tag card-position' style='background-color: #eb0a0a; border-color: #eb0a0a'>
                                            Reserved
                                            
                                        </div>
                                        {% else %}
                                        <div>

                                        </div>
                                        {% endif %}
                                
                                    </div>
                                    <div class='info'>
                                        <div class='main'>
                                            <div class='description'>{{ property.title }}</div>
                                            <div class='location'>{{property.state }}, {{property.country}}</div>
                                            <div class='price regular'>$ {{ property.price}}</div>
                                            <div class='icons'>
                                                <i class='ev-icon ev-icon-beds'></i>
                                                <div class='icon-desc'>{{ property.number_of_bedroom }}</div>
                                                <i class='ev-icon ev-icon-bathrooms'></i>
                                                <div class='icon-desc'>{{ property.number_of_bathroom }}</div>
                                                <i class='ev-icon ev-icon-living-area'></i>
                                                <div class='icon-desc'>{{ property.living_area }} Sq Ft.</div>
                                                <i class='ev-icon ev-icon-lotsize'></i>
                                                <div class='icon-desc'>{{ property.lot_size }} Sq Ft.</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </section>
            <style>
                :root {
                    --Hcolor: #eb0a0a;
                }

                .ev-pagination-container .pagination ul li.active a {
                    background-color: var(--Hcolor) !important;
                    color: white !important
                }

                .ev-pagination-container .pagination ul li a:hover {
                    color: #444444 !important
                }

                .ev-pagination-container .pagination ul li.active a:hover {
                    background-color: var(--Hcolor) !important;
                    color: white !important
                }
            </style>

        </section>
        <!-- #content end -->
        <!-- #footer -->

        <footer class='ev-footer nomargin noborder' id='footer'>
            <div id='copyrights'>
                <div class='container copyright-links footer'>
                    <div class='row hidden-sm hidden-md hidden-lg hidden-xl' style='margin-bottom: 20px;'>
                        <div class='col-xs-12'>
                            <ul class='mobile-links'>
                                <li><a target="_blank" href="#"><i class='ev-icon-arrow-right'></i> About Larkspur </a></li>
                                <li><a target="_blank" href="#"><i class='ev-icon-arrow-right'></i> Careers</a></li>
                                <li><a target="_blank" href="#"><i class='ev-icon-arrow-right'></i> Imprint</a></li>
                                <li><a target="_blank" href="#"><i class='ev-icon-arrow-right'></i> Press</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class='row hidden-sm hidden-md hidden-lg hidden-xl'>
                        <div class='col-xs-12 center-mobile'>
                            <div id='footer-menu-trigger'>
                                More
                                <i class='ev-icon-arrow-down'></i>
                            </div>
                        </div>
                    </div>
                    <div class='row clearfix footer-menu'>
                        <div id='footer-menu'>
                            <div class='col-md-2 col-sm-2 col-xs-12 center-mobile'>
                                <p> Larkspur homes LLC</p>
                                <ul class='center-mobile'>
                                    <li><a target="_blank" href="#">About Larkspur </a></li>
                                    <li><a target="_blank" href="#">Locations</a></li>
                                    <li><a target="_blank" href="#">Blog</a></li>
                                    <li><a target="_blank" href="">Press</a></li>
                                    <li><a target="_blank" href="#">Research</a></li>
                                    <li><a aria-label="Privacy Policy" target="_blank" href="/privacy-policy">Privacy
                                            policy</a></li>
                                    <li><a aria-label="Cookie Policy" target="_blank" href="/cookie-policy">Cookie
                                            policy</a></li>
                                    <li><a target="_blank" href="/imprint">Imprint</a></li>
                                    <li><a target="_blank" href="/disclaimer"><span class="translation_missing"
                                                title="translation missing: en.disclaimer">Disclaimer</span></a></li>
                                </ul>
                            </div>
                            <div class='col-md-2 col-sm-2 col-xs-12 col-md-offset-1 center-mobile'>
                                <p>Business divisions</p>
                                <ul class='center-mobile'>
                                    <li><a target="_blank" href="">Residential</a></li>
                                    <li><a target="_blank" href="">Commercial</a></li>
                                    <li><a target="_blank" href="">Yachting</a></li>
                                    <!-- %li= link_to t('engel_volkers.footer.aviation'), 'https://www.engelvoelkers.com/en-lu/aviation/', target: '_blank' -->
                                    <li><a target="_blank" href="">Polo</a></li>
                                </ul>
                            </div>
                            <div class='col-md-2 col-sm-2 col-xs-2 hidden-xs center-mobile no-title'>
                                <ul class='center-mobile'>
                                    <li><a target="_blank" href="">Private office</a></li>
                                    <li><a target="_blank" href="">GG Magazine</a></li>
                                    <li><a target="_blank" href="">Charity</a></li>
                                </ul>
                            </div>
                            <div class='col-md-2 col-sm-2 col-xs-12 center-mobile'>
                                <p>Seller</p>
                                <ul class='center-mobile'>
                                    <li><a target="_blank" href="">Sell house</a></li>
                                    <li><a target="_blank" href="">Let house</a></li>
                                    <li><a target="_blank" href="">Sell flat</a></li>
                                    <li><a target="_blank" href="">Let flat</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class='col-md-2 col-sm-2 col-xs-12 col-md-offset-1 center-mobile contact-col'>
                            <p>Contact us</p>
                            <div class='title-line' style='border-bottom-color: #eb0a0a'></div>
                            <ul class='contact-info center-mobile'>
                                <li>
                                    <i class='ev-icon-phone'></i>
                                    <a target="_blank" class="telephone" href="tel:+13346351939">+1 (334) 635-1939</a>
                                </li>
                                
                                <li class='address'> Larkspur homes LLC</li>
                            <li class='address'>143 B. Orlando Street</li>
                            <li class='address'>32802 Florida, USA</li>
                            </ul>
                            <!-- <div class='social-media'>
                                <ul class='center-mobile'>
                                    <li><a target="_blank" href=""><i class="ev-icon-facebook"></i></a></li>
                                    <li><a target="_blank" href=""><i class="ev-icon-linkedin"></i></a></li>
                                    <li><a target="_blank" href=""><i class="ev-icon-instagram"></i></a></li>
                                    <li><a target="_blank" href=""><i class="ev-icon-youtube"></i></a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                
                    <div class='row-fluid'>
                        <div class='container'>
                            <div class='row-fluid'>
                                <hr>
                                <div class='fair-housing-ev'>
                                    <div class='fair-housing-ev' id='rights-reserved'>
                                        Information on this website is provided by real estate professionals or
                                        developers and/or their representatives. Prices, details and availability may
                                        change; please verify any information with a real estate professional or the
                                        developer. Larkspur homes LLC
                                        is not responsible for any errors or omissions. This is not an offer to sell.
                                        Larkspur homes LLC fully supports the principles of the Fair Housing Act and
                                        the Equal Opportunity Act.
                                        <br /><br /> <a href="https://www.collabratechnology.com/enterprise"
                                            target="_blank">Powered by: ©2022 Larkspur Homes LLC. | All Rights
                                            Reserved</a>
                                    </div>
                                    <div class='fair-housing-ev-logo'>
                                        <!-- <img src="//dlm2ugoua3jmc.cloudfront.net/assets/logo-fair-housing-550745bf3f94e79c08150d30c4a8ac5e.svg"
                                                alt="Logo fair housing" /> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id='footer-logo'>
                <small><b> Larkspur homes LLC</b></small>
                <!-- <img alt="Larkspur homes LLC logo"
                        src="//dlm2ugoua3jmc.cloudfront.net/assets/favicons/ev/favicon-32x32-b19d8216fbb00a89aab1eaeda182a987.png" /> -->
            </div>
        </footer>

        <!-- #footer end -->
    </div>
    <!-- #wrapper end -->
    <!-- #gotoTop.icon-angle-up -->
    <!-- - Flash modal messages -->
    <div aria-textledby='myModalLabel' class='fade js-modal modal' id='globalPreferences' role='dialog' tabindex='-1'>
        <div aria-label='Modal Dialog' class='modal-dialog'>
            <div class='modal-body center'>
                <div class='modal-content'>
                    <div class='modal-header no-border'>
                        <button aria-label='Close' class='close js-modal-close' data-dismiss='modal'
                            type='button'>×</button>
                        <h3 class='it modal-title global-title' id='myModalLabel'>Global Preferences</h3>
                    </div>
                    <div class='modal-body nomargin'>
                        <form action="/language" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden"
                                value="&#x2713;" />
                            <div class='row'>
                                <div class='col-md-4 col-xs-4 tright'>
                                    <label class='min horizontal' for='change_language'
                                        id='language-label'>Language</label>
                                </div>
                                <div class='col-md-7 col-xs-7'><select name="change_language" id="change_language"
                                        class="selectpicker styled-input" data-live-search="false" data-size="4"
                                        data-width="100%">
                                        <option data-icon="flag flag-usa" selected="selected" value="en">English
                                        </option>
                                        <option data-icon="flag flag-germany" value="de">Deutsch</option>
                                        <option data-icon="flag flag-spain" value="es">Español</option>
                                        <option data-icon="flag flag-france" value="fr">Français</option>
                                        <option data-icon="flag flag-brazil" value="pt">Português</option>
                                        <option data-icon="flag flag-china" value="zh-CN">中国（简体）</option>
                                        <option data-icon="flag flag-japan" value="ja">日本語</option>
                                    </select></div>
                            </div>
                            <div class='row'>
                                <div class='col-md-4 col-xs-4 tright'>
                                    <label class='min horizontal' for='currency' id='currency-label'>Currency</label>
                                </div>
                                <div class='col-md-7 col-xs-7'><select name="currency" id="currency"
                                        class="selectpicker left lg" data-live-search="true" data-size="3"
                                        data-width="100%">
                                        <option title="AFN (؋)" value="AFN">Afghan Afghani (AFN)</option>
                                        <option title="ARS ($)" value="ARS">Argentine Peso (ARS)</option>
                                        <option title="AUD ($)" value="AUD">Australian Dollar (AUD)</option>
                                        <option title="BSD ($)" value="BSD">Bahamian Dollar (BSD)</option>
                                        <option title="BBD ($)" value="BBD">Barbadian Dollar (BBD)</option>
                                        <option title="BZD (BZ$)" value="BZD">Belize Dollar (BZD)</option>
                                        <option title="BMD ($)" value="BMD">Bermudian Dollar (BMD)</option>
                                        <option title="BAM ()" value="BAM">Bosnia Herzegovina Convertible Mark (BAM)
                                        </option>
                                        <option title="BWP (P)" value="BWP">Botswana Pula (BWP)</option>
                                        <option title="BRL (R$)" value="BRL">Brazilian Real (BRL)</option>
                                        <option title="BGN ()" value="BGN">Bulgarian Lev (BGN)</option>
                                        <option title="CAD ($)" value="CAD">Canadian Dollar (CAD)</option>
                                        <option title="KYD ($)" value="KYD">Cayman Islands Dollar (KYD)</option>
                                        <option title="XPF (Z$)" value="XPF">Cfp Franc (XPF)</option>
                                        <option title="CLP ($)" value="CLP">Chilean Peso (CLP)</option>
                                        <option title="CNY (¥)" value="CNY">Chinese Yuan (CNY)</option>
                                        <option title="COP ($)" value="COP">Colombian Peso (COP)</option>
                                        <option title="CRC (₡)" value="CRC">Costa Rican Colón (CRC)</option>
                                        <option title="HRK ()" value="HRK">Croatian Kuna (HRK)</option>
                                        <option title="CZK (K)" value="CZK">Czech Koruna (CZK)</option>
                                        <option title="DKK (kr)" value="DKK">Danish Krone (DKK)</option>
                                        <option title="DOP (RD$)" value="DOP">Dominican Peso (DOP)</option>
                                        <option title="XCD ($)" value="XCD">East Caribbean Dollar (XCD)</option>
                                        <option title="EGP ()" value="EGP">Egyptian Pound (EGP)</option>
                                        <option title="EUR (€)" value="EUR">Euro (EUR)</option>
                                        <option title="FJD ()" value="FJD">Fijian Dollar (FJD)</option>
                                        <option title="GBP (£)" value="GBP">Great British Pound (GBP)</option>
                                        <option title="HKD (HK$)" value="HKD">Hong Kong Dollar (HKD)</option>
                                        <option title="HUF (Ft)" value="HUF">Hungarian Forint (HUF)</option>
                                        <option title="ISK (kr)" value="ISK">Icelandic Króna (ISK)</option>
                                        <option title="INR (₹)" value="INR">Indian Rupee (INR)</option>
                                        <option title="IDR (Rp)" value="IDR">Indonesian Rupiah (IDR)</option>
                                        <option title="IQD ()" value="IQD">Iraqi Dinar (IQD)</option>
                                        <option title="ILS (₪)" value="ILS">Israeli New Shekel (ILS)</option>
                                        <option title="JMD ()" value="JMD">Jamaican Dollar (JMD)</option>
                                        <option title="JPY ()" value="JPY">Japanese Yen (JPY)</option>
                                        <option title="JOD ()" value="JOD">Jordanian Dinar (JOD)</option>
                                        <option title="KES (KSh)" value="KES">Kenyan Shilling (KES)</option>
                                        <option title="KWD ()" value="KWD">Kuwaiti Dinar (KWD)</option>
                                        <option title="MKD (ден)" value="MKD">Macedonian Denar (MKD)</option>
                                        <option title="MYR (RM)" value="MYR">Malaysian Ringgit (MYR)</option>
                                        <option title="MXN (MXN)" value="MXN">Mexican Peso (MXN)</option>
                                        <option title="MAD ()" value="MAD">Moroccan Dirham (MAD)</option>
                                        <option title="TWD ()" value="TWD">New Taiwan Dollar (TWD)</option>
                                        <option title="NZD ($)" value="NZD">New Zealand Dollar (NZD)</option>
                                        <option title="NOK (kr)" value="NOK">Norwegian Krone (NOK)</option>
                                        <option title="PKR ()" value="PKR">Pakistani Rupee (PKR)</option>
                                        <option title="PAB (B/.)" value="PAB">Panamanian Balboa (PAB)</option>
                                        <option title="PEN (S/.)" value="PEN">Peruvian Nuevo Sol (PEN)</option>
                                        <option title="PHP (₱)" value="PHP">Philippine Peso (PHP)</option>
                                        <option title="PLN (z)" value="PLN">Polish Złoty (PLN)</option>
                                        <option title="RON ()" value="RON">Romanian Leu (RON)</option>
                                        <option title="RUB (руб)" value="RUB">Russian Ruble (RUB)</option>
                                        <option title="RWF ()" value="RWF">Rwandan Franc (RWF)</option>
                                        <option title="SAR ()" value="SAR">Saudi Riyal (SAR)</option>
                                        <option title="SGD ($)" value="SGD">Singapore Dollar (SGD)</option>
                                        <option title="ZAR (R)" value="ZAR">South African Rand (ZAR)</option>
                                        <option title="KRW ()" value="KRW">South Korean Won (KRW)</option>
                                        <option title="SEK (kr)" value="SEK">Swedish Krona (SEK)</option>
                                        <option title="CHF (CHF)" value="CHF">Swiss Franc (CHF)</option>
                                        <option title="THB (฿)" value="THB">Thai Baht (THB)</option>
                                        <option title="TRY (t)" value="TRY">Turkish Lira (TRY)</option>
                                        <option title="TYR (₺)" value="TYR">Turkish Lira (TYR)</option>
                                        <option title="UGX (Ush)" value="UGX">Ugandan Shilling (UGX)</option>
                                        <option title="AED (د.إ)" value="AED">United Arab Emirates Dirham (AED)</option>
                                        <option title="USD ($)" selected="selected" value="USD">United States Dollar
                                            (USD)</option>
                                        <option title="UYU ($U)" value="UYU">Uruguayan Peso (UYU)</option>
                                        <option title="UZS (лв)" value="UZS">Uzbekistani Som (UZS)</option>
                                        <option title="VUV (VT)" value="VUV">Vanuatu Vatu (VUV)</option>
                                        <option title="VEF (Bs.)" value="VEF">Venezuelan Bolívar (VEF)</option>
                                        <option title="VND (₫)" value="VND">Vietnamese Dong (VND)</option>
                                        <option title="ZWD (Z$)" value="ZWD">Zimbabwean Dollar (ZWD)</option>
                                        <option title="ZWL (Z$)" value="ZWL">Zimbabwean Dollar (ZWL)</option>
                                    </select></div>
                            </div>
                            <div class='row'>
                                <div class='col-md-4 col-xs-4 tright'>
                                    <label class='min horizontal' for='unit' id='unit-label'>Units</label>
                                </div>
                                <div class='col-md-7 col-xs-7'><input type="checkbox" name="unit" id="unit" value="m2"
                                        data-on-text="Sq M." data-off-text="Acres" data-on-color="light uppercase"
                                        data-off-color="light uppercase" data-handle-width="47" class="bt-switch" />
                                </div>
                            </div>
                            <div class='row topmargin-sm bottommargin-sm'>
                                <div class='col-md-7 col-md-offset-4 col-xs-7 col-xs-offset-4 center'>
                                    <button name="button" type="submit"
                                        class="secondary-button btn-block center nomargin"><em aria-hidden='true'
                                            class='icon-line-check'></em>
                                        <span>Save</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden='true' aria-textledby='myModalLabel' class='modal fade' id='contactColdwellModal' role='dialog'
        tabindex='-1'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header' style='padding: 30px; background-color: #f8f5fd;'>
                    <button class='close' data-dismiss='modal' type='button'>×</button>
                    <h3 class='title-coldwell-login'>
                        Contact Us
                    </h3>
                </div>
                <div class='modal-body'>
                    <div class='main-form' style='padding: 30px;'>
                        <form class="simple_form form-vertical form-styled js-coldwell-contact-us"
                            id="js-coldwell-contact-us" action="/contact_us.json" accept-charset="UTF-8"
                            data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input
                                type="hidden" name="authenticity_token"
                                value="k9XbrMxOv4hbsV+84APqgCexF3EfJ9fSjOH2tLRq1CygsNVjWSYTPq4CwLphIQX3XeBHF+Zh0gT0gZ8vfJrvMg==" /><input
                                type="hidden" name="coldwell_contact" id="coldwell_contact" />
                            <div class="control-group string required contact_us_email">
                                <div class="controls"><input class="string required styled-input min"
                                        autocomplete="disabled" inputmode="email" required="required"
                                        aria-required="true" placeholder="Email" type="text" name="contact_us[email]"
                                        id="contact_us_email" /></div>
                            </div>
                            <div class="control-group string required contact_us_name">
                                <div class="controls"><input class="string required styled-input min"
                                        required="required" aria-required="true" placeholder="Full Name" type="text"
                                        name="contact_us[name]" id="contact_us_name" /></div>
                            </div>
                            <div class='row-fluid'>
                                <div class="control-group text optional contact_us_message">
                                    <div class="controls"><textarea rows="8" class="text optional styled-input min"
                                            placeholder="Message" name="contact_us[message]" id="contact_us_message">
</textarea></div>
                                </div>
                            </div>
                            <div class='recaptcha-container'>
                                <div class='error'></div>
                                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                                <div class="g-recaptcha" data-sitekey="6Lflws8UAAAAAFz9nHdRA8art71xVSLZnMhQldj3"></div>
                                <noscript>
                                    <div style="width: 302px; height: 352px;">
                                        <div style="width: 302px; height: 352px; position: relative;">
                                            <div style="width: 302px; height: 352px; position: absolute;">
                                                <iframe
                                                    src="https://www.google.com/recaptcha/api/fallback?k=6Lflws8UAAAAAFz9nHdRA8art71xVSLZnMhQldj3"
                                                    frameborder="0" scrolling="no"
                                                    style="width: 302px; height:352px; border-style: none;">
                                                </iframe>
                                            </div>
                                            <div style="width: 250px; height: 80px; position: absolute; border-style: none;
                  bottom: 21px; left: 25px; margin: 0px; padding: 0px; right: 25px;">
                                                <textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                                    class="g-recaptcha-response" style="width: 250px; height: 80px; border: 1px solid #c1c1c1;
                    margin: 0px; padding: 0px; resize: none;" value="">
</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </noscript>

                            </div>
                            <br>
                            <div class='row-fluid'>
                                <input type="submit" name="commit" value="Send"
                                    class="secondary-button btn-block nomargin" style="width: 53%;" />
                            </div>
                            <div class='row-fluid alert-message hide'></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- #External JavaScripts -->
    <!-- = javascript_include_tag "/javascripts/collabra_analytics" -->
    <script src="//dlm2ugoua3jmc.cloudfront.net/assets/engel_volkers-aedefd0e0e4404c4b22007996626479f.js"></script>
   
    <script src="{% static 'javascripts/main.js' %}" type="text/javascript"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>

</body>

</html>